{
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "es2021": true
  },
  "rules": {
    "no-console": 0
  },
  "globals": {},
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": 2018
  },
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"]
}
