#publisher {
  width: 320px;
  height: 240px;
  background-color: #000;
}
#publisher-name-field {
  font-weight: bold;
  margin-right: 1.2em;
}
.auto-margined {
  margin: 1em auto;
}
.float-left {
  float: left;
}
.spaced {
  margin: 1em;
}
.publisher-container, .subscriber-container {
  width: 320px;
  background-color: #333;
  border: 2px solid #999;
}
.publisher-session {
  width: 100%;
}
.publisher-settings {
  width: 100%;
  background-color: #eee;
}
.publisher-settings > p {
  padding: 0.6em 0;
}
.dark-background {
  background-color: #999;
}
.hidden {
  display: none;
}
