#back-link-container {
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-bottom: 1px #ccc solid;
  background-color: #eee;
}

#back-link {
  padding-left: 12px;
  line-height: 60px;
  color: #00a9ff;
}

#test-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

#test-list > li {
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px #AAA solid
}

