<style>
.footer {
  padding: 108px 78px 25px;
  background-color: #000;
}

.footer .SiteQuickLinks {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

.footer .SiteQuickLinks ul {
  list-style: none;
  margin: 0px 0px 50px 0px;
  padding: 0px;
  text-align: left;
}

.footer .SiteQuickLinks li {
  margin-bottom: 10px;
}

.footer .SiteQuickLinks li a {
  font-size: 48px;
  line-height: 59px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}

.footer .SiteQuickLinks li a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.rightFooter h3 {
  font-size: 14px;
  color: #6e6e6e;
  margin: 0 0 10px 0;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
}

.rightFooter ul {
  list-style: none;
  margin: 0px 0px 50px 0px;
  padding: 0px;
  text-align: left;
}

.rightFooter ul li a {
  font-size: 24px;
  line-height: 36px;
  color: #dadada !important;
  text-decoration: none;
}

.rightFooter ul li a:hover {
    color: rgba(255, 255, 255, 0.7) !important;
}

.copyrights {
    font-size: 18px;
    color: #dadada;
    text-align: left;
}

@media (max-width: 767px) {
  .footer {
    padding: 30px 15px 15px;
  }

  .footer .SiteQuickLinks {
    margin: 0px 0px 40px 0px;
  }

  .footer .SiteQuickLinks li a {
    font-size: 28px;
    line-height: 34px;
  }
  .rightFooter ul li a {
    font-size: 18px;
    line-height: 28px;
  }

  .rightFooter ul {
    margin: 0px 0px 20px 0px;
  }
}
</style>
<footer class="footer">
  <div class="row">
    <div class="col-md-12 col-lg-4 col-xl-7">
			<section id="nav_menu-7" class="widget SiteQuickLinks widget_nav_menu"><nav class="menu-footer-main-nav-container" aria-label="Menu"><ul id="menu-footer-main-nav" class="menu"><li id="menu-item-107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-107"><a href="https://www.red5.net/red5-pro/">Red5 Pro</a></li>
<li id="menu-item-11618" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11618"><a href="https://www.red5.net/truetime/">TrueTime Solutions™</a></li>
<li id="menu-item-456" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-456"><a href="https://www.red5.net/pricing-anually/">Pricing</a></li>
<li id="menu-item-244" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-244"><a href="https://www.red5.net/company/">Company</a></li>
</ul></nav></section>
    </div>
   <div class="col-md-12 col-lg-8 col-xl-5">
                <div class="rightFooter">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Resources</h3>
                            <section id="nav_menu-3" class="widget MenuFullRight widget_nav_menu"><nav class="menu-resources-menu-container" aria-label="Menu"><ul id="menu-resources-menu-1" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-494"><a href="https://www.red5.net/webinars/">Webinars</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-493"><a href="https://www.red5.net/whitepapers/">Whitepapers</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-95"><a href="https://www.red5.net/developer-zone/">Developer Zone</a></li>
</ul></nav></section>                        </div>
                        <div class="col-md-6">
                            <h3>more</h3>
                            <section id="nav_menu-6" class="widget MenuFullRight widget_nav_menu"><nav class="menu-more-menu-container" aria-label="Menu"><ul id="menu-more-menu-1" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-421"><a href="https://www.red5.net/blog/">Blog</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-103"><a href="https://www.red5.net/company/#open-positions">Careers</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-455"><a href="https://www.red5.net/contact/">Contact</a></li>
</ul></nav></section>                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>legal</h3>
                            <section id="nav_menu-4" class="widget MenuFullRight widget_nav_menu"><nav class="menu-legal-menu-container" aria-label="Menu"><ul id="menu-legal-menu-1" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-466"><a href="https://www.red5.net/privacy-policy/">Privacy Policy</a></li>
</ul></nav></section>                        </div>
                        <div class="col-md-6">
                            <h3>support</h3>
                             <section id="nav_menu-5" class="widget MenuFullRight widget_nav_menu"><nav class="menu-support-menu-container" aria-label="Menu"><ul id="menu-support-menu-1" class="menu"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-99"><a target="_blank" rel="noopener" href="https://www.red5.net/faqs/">FAQ</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-100"><a target="_blank" rel="noopener" href="https://red5pro.zendesk.com/hc/en-us/requests/new">Tickets</a></li>
</ul></nav></section>                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer-150"></div>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-6">
                <div class="socialSides">
                    <p class="copyrights">&copy; <span class="footer-copyright-text_end">2022</span> Infrared5, Inc. </p>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6 text-end">
                <div class="rightFooter inlineLinks">
                    <div class="row">
                        <div class="col-md-12">
							<section id="nav_menu-9" class="widget rightFooter widget_nav_menu"></section>                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
      <script>
    (() => {
      const footerDate = document.querySelector('.footer-copyright-text_end')
      if (footerDate) {
        footerDate.textContent = new Date().getFullYear()
      }
    })()
  </script>
