<div id="back-link-container" style="text-align: left;">
  <p class="back-link">
    <img src="../../images/red-arrow-right.svg">
    <a href="../../index.html">Settings</a>
  <p class="version-field">Testbed Version: {{ version }}</p>
</div>
