<div class="ice-background">
  <div class="test-notification">
    <p>In order to properly run the Stream Manager examples, you will need to configure your environment with the autoscaling infrastructure as described in the following documentation:</p>
    <p><a href="https://www.red5pro.com/docs/autoscale/" target="_blank">https://www.red5pro.com/docs/autoscale/</a></p>
    <br>
    <p>Additionally, to use this example Stream Manager proxy gateway should be enabled.</p>
  </div>
</div>
