<div class="ice-background">
  <div class="test-notification">
    <p>In order to properly run the Stream Manager examples, you will need to configure you server for cluster infrastructure as described in the following documentation:</p>
    <p><a href="https://www.red5pro.com/docs/server/autoscale/" target="_blank">https://www.red5pro.com/docs/server/autoscale/</a></p>
    <br>
    <p>Additionally to use this example stream manager proxy gateway should be enabled.</p>
  </div>
</div>
