<p id="statistics-field" class="centered status-field statistics-field hidden">
  <!-- only updated from WebRTC clients. -->
  Bitrate: <span id="bitrate-field">0</span>.&nbsp;
  Packets Last: <span id="packets-field">0</span>.
  <br/>
  <span>Resolution: <span id="resolution-field">0x0</span>.
</p>
