<p id="statistics-field" class="centered status-field statistics-field hidden">
  <!-- only updated from WebRTC clients. -->
  Bitrate: <span id="bitrate-field" class="bitrate-field">N/A</span>.&nbsp;
  {{ packets_field }}: <span id="packets-field" class="packets-field">N/A</span>.
  <br/>
  <span>Resolution: <span id="resolution-field" class="resolution-field">0x0</span>.
</p>
