<h1 class="centered">{{ testTitle }}</h1>
<hr />
<h2 class="centered"><em>stream</em>: <span id="stream-title">{{ streamName }}</span></h2>
<script>
(function() {
  try {
    var conf = JSON.parse(sessionStorage.getItem('r5proTestBed'));
    document.getElementById('stream-title').innerText = conf ? conf.stream1 : 'N/A';
  } catch (e) {
    // it's alright.
  }
})();
</script>
