<style type="text/css">
/* Top Bar CSS */
#top-bar {
    padding: 16px 0 16px 0;
}
#top-bar-wrap {
    background-color: #3b3b3b;
}
#top-bar-wrap {
    border-color: #999999;
}
#top-bar-wrap, #top-bar-content strong {
    color: #dbdbdb;
}
#top-bar-content a, #top-bar-social-alt a {
    color: #dbdbdb;
}
#top-bar-content a:hover, #top-bar-social-alt a:hover {
    color: #db1f26;
}
.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}
@media only screen and (min-width: 1024px) {
  #top-bar-content {
    float: none;
    text-align: right;
  }
}
@media only screen and (max-width: 1023px) {
  #top-bar-content {
    float: none;
    text-align: center;
  }
}
#menu-top-menu {
  letter-spacing: .6px;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-size: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  touch-action: pan-y;
}

.menu-item {
  color: #dbdbdb;
  letter-spacing: .6px;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-size: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  white-space: normal;
  display: inline-block;
  float: none;
  margin-right: 15px;
}

/* Typography CSS */
#top-bar-content, #top-bar-social-alt {
    font-size: 13px;
    letter-spacing: .6px;
}
</style>
<div id="top-bar-wrap" class="clr">
  <div id="top-bar" class="clr container has-no-content">
    <div id="top-bar-inner" class="clr">
      <div id="top-bar-content" class="clr top-bar-right">
        <div id="top-bar-nav" class="navigation clr">
          <ul id="menu-top-menu" class="top-bar-menu dropdown-menu sf-menu sf-js-enabled" style="touch-action: pan-y;">
            <li id="menu-item-801" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-801"><a href="https://account.red5pro.com/register" class="menu-link">Sign Up</a></li>
            <li id="menu-item-802" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-802"><a href="https://account.red5pro.com/login" class="menu-link">Log In</a></li>
            <li id="menu-item-3017" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3017"><a href="https://red5pro.com/contact-information/" class="menu-link">Contact Us</a></li>
            <li id="menu-item-2150" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2150"><a href="https://calendly.com/red5-pro/15-minute-phone-call" class="menu-link">Let’s Talk!</a></li>
          </ul>
        </div>
      </div><!-- #top-bar-content -->
    </div><!-- #top-bar-inner -->
  </div><!-- #top-bar -->
</div>
