<p class="version-field">Testbed Version: {{ version }}&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/infrared5/red5pro-html-sdk-testbed/releases/latest/red5pro-html-testbed.zip">download</a></p>
